body{
	height: 100%;
	background-color: rgba(255,255,255,1);
	margin: 0px;
	padding: 0px;
}
html{
	height: 100%;
}
.contenedor .outer-loader{
    position: relative;
		/* background: url(img/fondo2.jpg) no-repeat center ; */
  	/* height: 100%;
     background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; */
}

.logo{
  /* display:inline-block; */
  position:absolute;
	top:55%;
	left:1%;
	transform: translate(-50%;-50%);
}




.boton{
  /* display:inline-block; */
  position:absolute;
	top:80%;
	left:55%;
	transform: translate(-50%;-50%);
	background-color: #f15a29;
	border-color: #f15a29;
}

.boton:not(:disabled):not(.disabled):active, .boton:active:focus,.boton:focus,.boton:hover, .boton:focus, .boton:active, .boton.active, .open>.dropdown-toggle.boton {
    color: #fff;
    background-color: #f15a29;
    border-color: #e77049;
		box-shadow: 0 0 0 0.2rem rgba(242, 129, 91, 0);
}

.caja{
	top:40%;
	left:35%;
	position: absolute;
	z-index: 1;
}

.titulo{
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 2.5rem;
	color: white;
	text-shadow: 2px 2px 2px #e77049;
}
.subtitulo{
	font-size: 1.5rem;
	/* font-weight: 700; */
	line-height: 1.5rem;
	color: white;
	text-shadow: 2px 2px 2px #e77049;
}

@media only screen and (max-width: 600px) {
  .boton {
	top:80%;
	left:35%;
  }
  .caja {
	top:35%;
	left:15%;
  }
}

.imgOrientation{
	display: none;
}

.outer-loader {
      width: auto;
      height: 100vh;
      /*display: flex;*/
      align-items: center;
      justify-content: center;
   /*   background-image: url('../media/expo/01-lobby.jpg');
      background-size: 100%;
      background-repeat: no-repeat;*/
}

.inner-loader-img {
      position:absolute;
      z-index: 1;
      text-align: center;
      align-items: center;
      height: 30%;
      width: 30%;
      top:35%;
      left:35%;
}

.button-container{
  /* display:inline-block; */
  position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%;-50%);
}

.imageButtonss{
	width: 50px;
	height: 50px;
	background: #69f129;
	border-radius: 50%;
	text-align: center;
	/* line-height: 120px; */
	animation: infinite animate 0.1s;
	cursor: pointer;
}

.imageButtonss{
    font-size: 1.2em;
    line-height: 64px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(186, 212, 0.5);
}

@keyframes animate {
	0% {
	    -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    -webkit-transform: scale(0.9);
	    transform: scale(0.9);
	}
	70% {
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
	}
	100% {
	    -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    -webkit-transform: scale(0.9);
	    transform: scale(0.9);
	    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
	}

}
.fa-chevron-circle-up{
  text-shadow: 0 0 0 56px #272634;
}


/* @media screen and (min-width: 1080px){
	.mainContent{
		width:84%;
		margin:auto;
	}
}
@media screen and (min-width: 1900px) {
	.imagen {
		width: 100vw;
		height: 100vh;
	}
} */




/* -------------------- BUTTON CONFIG ANIMATION -------------------- */

.imageButtons{
	width:2.5%;
	position: absolute;
	z-index: 1;
}
.imageButtons{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}
.imageButtons:hover{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    animation: none;
    opacity: 0.9;
}
.imageButtons{
    font-size: 1.3em;
    font-weight: light;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(246, 121, 0.5);
}

/* Ubicacion de los botones de los stand */
.savon{
	top:10%;
	left:10%;
	animation: pulse 1.5s infinite;
}

.magdalena{
	top:10%;
	left:15%;
	animation: pulse 1.5s infinite;
}
.ecowater{
	top:10%;
	left:20%;
	animation: pulse 1.5s infinite;
}

.ecotypiemo{
	top:10%;
	left:25%;
	animation: pulse 1.5s infinite;
}

.nazhani{
	top:10%;
	left:30%;
	animation: pulse 1.5s infinite;
}

.enyufit{
	top:10%;
	left:35%;
	animation: pulse 1.5s infinite;
}

.lamparas{
	top:10%;
	left:40%;
	animation: pulse 1.5s infinite;
}

.mural{
	top:10%;
	left:45%;
	animation: pulse 1.5s infinite;
}

.madeplast{
	top:20%;
	left:10%;
	animation: pulse 1.5s infinite;
}

.pad{
	top:20%;
	left:15%;
	animation: pulse 1.5s infinite;
}

.all{
	top:20%;
	left:20%;
	animation: pulse 1.5s infinite;
}
.yogaloe{
	top:20%;
	left:25%;
	animation: pulse 1.5s infinite;
}

.anchetas{
	top:20%;
	left:30%;
	animation: pulse 1.5s infinite;
}

.erv{
	top:20%;
	left:35%;
	animation: pulse 1.5s infinite;
}

.ma{
	top:20%;
	left:40%;
	animation: pulse 1.5s infinite;
}

.energy{
	top:20%;
	left:45%;
	animation: pulse 1.5s infinite;
}

.imagens{
	top:26%;
	left:35%;
	animation: pulse 1.5s infinite;
}

.atras{
	top:2%;
	left:2%;
	/* animation: pulse 1.5s infinite; */
}
.home{
	width:2.5%;
	position: absolute;
	z-index: 1;
	background-color: #f15a29;
	border-radius: 50%;
	top:2%;
	left:6%;
	border-width: 3px;
  border-style: solid;
	border-color: #f15a29;
	/* animation: pulse 1.5s infinite; */
}

.video{
	top:27%;
	left:61%;
	animation: pulse 1.5s infinite;
}

.encuesta{
	top:60%;
	left:52%;
	animation: pulse 1.5s infinite;
}
/* ANIMATED BUTTON */
@keyframes pulse{
	0% {
	    -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    -webkit-transform: scale(0.9);
	    transform: scale(0.9);
	}
	70% {
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	    box-shadow: 0 0 0 50px rgba(241,90,41, 0);
	}
	100% {
	    -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    -webkit-transform: scale(0.9);
	    transform: scale(0.9);
	    box-shadow: 0 0 0 0 rgba(241,90,41, 0);
	}
}
@keyframes visibilty {
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

.loader{
	width:45px;
	height: 45px;
	position: absolute;
	z-index: 1;
	border-radius: 100px;
	display: none;
	background-image: url('../media/fondos/main_background.jpg');
	background-size: cover;
	opacity: 0.8;
	border: 1px solid #ffffff;
	animation: visibilty 0.5s;
}

@keyframes visibilty {
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}
